use strict;

+{
    'Lingr' => {
        userid => 'lingr user id(email)',
        password => 'lingr passowrd',
    },
    'YanchaUrl' => 'http://yancha.hachiojipm.org:3000',
    'YanchaTag' => '#FROMLINGR',
    'ExcludeFilterREGEXP' => '(^\[perl_jp\] perl bot\:|^\[perl_jp\] Github\:)',
};
